:root {
    --text: #dbdfac;
    --bg: #2a1e5c;
    --btn-bg: #d7f171;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    color: var(--text);
    background-color: var(--bg);
    font-family: 'Nerko One', cursive;
  }

  #container{
    width: 50rem;
    height: 30rem;
    background-color:aliceblue;
    margin: 5rem auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

 #hangman{
    width: 50%;
 }
 #baseline{
    position: fixed;
    top: 30rem;
    width: 10%;
    height: 2%;
    background-color: black;

 }
#prependline{
    position: fixed;
    top: 10rem;
    width: 1%;
    height: 50%;
    background-color: black;
}
#topbaseline{
    position: fixed;
    width: 10%;
    height: 2%;
    background-color: black;
    top: 10rem;

}
#downline{
    position: fixed;
    width: 0.5%;
    height: 8%;
    background-color: black;
    top: 10rem;
    left: 25rem;
}
#face{
    position: fixed;
    width: 4rem;
    height: 4rem;
    border: black solid 5px;
    border-radius: 2rem;
    top: 13.3rem;
    left: 23.3rem;
visibility: hidden;
}
#middleline{
    position: fixed;
    width: 0.5%;
    height: 20%;
    background-color: black;
   top: 17.1rem;
   left: 25rem;
   visibility: hidden;
}
#leftarm{
    position: fixed;
    background-color: black;
    width: 0.5%;
    height: 10%;
    top: 16.6rem;
    left: 23.3rem;
    transform: rotate(45deg);
    visibility: hidden;
}
#rightarm{
    position: fixed;
    background-color: black;
    width: 0.5%;
    height: 10%;
    top: 16.7rem;
    left: 26.7rem;
    transform: rotate(-45deg);
    visibility: hidden;
}
#leftleg{
    position: absolute;
    background-color: black;
    width: 0.5%;
    height: 10%;
    top: 24.5rem;
    left: 23.5rem;
    transform: rotate(45deg);
    visibility: hidden;
}
#rightleg{
    position: fixed;
    background-color: black;
    width: 0.5%;
    height: 10%;
    top: 24.5rem;
    left: 26.5rem;
    transform: rotate(-45deg);
    visibility: hidden;
}
#Guess{
    width: 50%;
    margin: auto;
}



.button {
  align-items: center;
  appearance: none;
  background-clip: padding-box;
  background-color: initial;
  background-image: none;
  border-style: none;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  flex-direction: row;
  flex-shrink: 0;
  font-family: Eina01,sans-serif;
  font-size: 16px;
  font-weight: 800;
  justify-content: center;
  line-height: 24px;
  margin: 0 auto;
  min-height: 64px;
  outline: none;
  overflow: visible;
  padding: 19px 26px;
  pointer-events: auto;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  width: auto;
  word-break: keep-all;
  z-index: 0;
}

@media (min-width: 768px) {
  .button {
    padding: 19px 32px;
    margin: 0 auto;
  }
}

.button:before,
.button:after {
  border-radius: 80px;
}

.button:before {
  background-image: linear-gradient(92.83deg, #ff7426 0, #f93a13 100%);
  content: "";
  display: block;
  height: 100%;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -2;
}

.button:after {
  background-color: initial;
  background-image: linear-gradient(#541a0f 0, #0c0d0d 100%);
  bottom: 4px;
  content: "";
  display: block;
  left: 4px;
  overflow: hidden;
  position: absolute;
  right: 4px;
  top: 4px;
  transition: all 100ms ease-out;
  z-index: -1;
}

.button:hover:not(:disabled):before {
  background: linear-gradient(92.83deg, rgb(255, 116, 38) 0%, rgb(249, 58, 19) 100%);
}

.button:hover:not(:disabled):after {
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  transition-timing-function: ease-in;
  opacity: 0;
}

.button:active:not(:disabled) {
  color: #ccc;
}

.button:active:not(:disabled):before {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, .2), rgba(0, 0, 0, .2)), linear-gradient(92.83deg, #ff7426 0, #f93a13 100%);
}

.button:active:not(:disabled):after {
  background-image: linear-gradient(#541a0f 0, #0c0d0d 100%);
  bottom: 4px;
  left: 4px;
  right: 4px;
  top: 4px;
}

.button:disabled {
  cursor: default;
  opacity: .24;
}

#type{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 1rem;
}

.button-40 {
  background-color: #111827;
  border: 1px solid transparent;
  border-radius: .75rem;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  flex: 0 0 auto;
  font-family: "Inter var",ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 1.rem;
  font-weight: 400;
  line-height: 1.5rem;
  padding: .5rem .75rem;
  text-align: center;
  text-decoration: none #6B7280 solid;
  text-decoration-thickness: auto;
  transition-duration: .2s;
  transition-property: background-color,border-color,color,fill,stroke;
  transition-timing-function: cubic-bezier(.4, 0, 0.2, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: auto;
}

.button-40:hover {
  background-color: #374151;
}

.button-40:focus {
  box-shadow: none;
  outline: 2px solid transparent;
  outline-offset: 2px;
}

@media (min-width: 768px) {
  .button-40 {
    padding: .5rem 0.75rem;
  }
}
/* 
#type button{
  margin: 0.25rem;
  width: 3rem;
  height: 1rem;
} */